a, a:hover {
	text-decoration: none;
	color: white;
}
body {
	margin: 0;
	background-color: #1a1a1a;
	color: white;
	font-family: 'Josefin Sans', 'sans-serif';
}
#maintitle {
	text-align: center;
	color: white;
	font-size: 10vh;
}
.midcontainer {
	padding-top: 2%;
}
.center {
	text-align: center;
}
.info {
	padding-top: 4%;
	height: 550px;
	font-size: 4vh;
	margin-left: 5%;
	margin-right: 12%;
}
#feature {
	background: url("img/bg.jpg") no-repeat center center;
	background-size: cover;
	height: 50%;
	width: 100%;
	text-align: center;
}

footer{
	font-size: 3vh;
	color: white;
}