doctype html
html
	head
		title Dashboard
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../../therapist.css">
	body
		h1(id="header") Patient Dashboard
		div(class="container")
			div(class="row" id="templates") 
				h1 Therapy Banana
	footer
		Stuff
	script(type="text/javascript" src="/js/jquery-3.1.1.min.js")
	script(type="text/javascript" src="/js/patientDash.js")
